/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AttributeBasedVMSizeRecommender } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ComputeManagementClient } from "../computeManagementClient.js";
import {
  AttributeBasedVMSizeRecommenderInput,
  AttributeBasedVMSizeRecommenderPostOptionalParams,
  AttributeBasedVMSizeRecommenderPostResponse,
} from "../models/index.js";

/** Class containing AttributeBasedVMSizeRecommender operations. */
export class AttributeBasedVMSizeRecommenderImpl
  implements AttributeBasedVMSizeRecommender
{
  private readonly client: ComputeManagementClient;

  /**
   * Initialize a new instance of the class AttributeBasedVMSizeRecommender class.
   * @param client Reference to the service client
   */
  constructor(client: ComputeManagementClient) {
    this.client = client;
  }

  /**
   * Generates attribute based VM Size Recommendations.
   * @param location The name of the Azure region.
   * @param attributeBasedVMSizeRecommenderInput AttributeBasedVMSizeRecommender object supplied in the
   *                                             body of the Post attribute based VMSize recommender operation.
   * @param options The options parameters.
   */
  post(
    location: string,
    attributeBasedVMSizeRecommenderInput: AttributeBasedVMSizeRecommenderInput,
    options?: AttributeBasedVMSizeRecommenderPostOptionalParams,
  ): Promise<AttributeBasedVMSizeRecommenderPostResponse> {
    return this.client.sendOperationRequest(
      { location, attributeBasedVMSizeRecommenderInput, options },
      postOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizeRecommendations/vmAttributeBased/generate",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AttributeBasedVMSizeRecommenderResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.attributeBasedVMSizeRecommenderInput,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
