/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DiagnosticOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ComputeManagementClient } from "../computeManagementClient.js";
import {
  DiagnosticOperationsReadOptionalParams,
  DiagnosticOperationsReadResponse,
} from "../models/index.js";

/** Class containing DiagnosticOperations operations. */
export class DiagnosticOperationsImpl implements DiagnosticOperations {
  private readonly client: ComputeManagementClient;

  /**
   * Initialize a new instance of the class DiagnosticOperations class.
   * @param client Reference to the service client
   */
  constructor(client: ComputeManagementClient) {
    this.client = client;
  }

  /**
   * Gets status of a Diagnostic operation issued for Disk Inspection.
   * @param location The name of the Azure region.
   * @param operationId The ID of an ongoing async operation.
   * @param options The options parameters.
   */
  read(
    location: string,
    operationId: string,
    options?: DiagnosticOperationsReadOptionalParams,
  ): Promise<DiagnosticOperationsReadResponse> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      readOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const readOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnosticOperations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ComputeDiagnosticsOperationResult,
    },
    202: {
      headersMapper: Mappers.DiagnosticOperationsReadHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
