/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DiskInspection } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ComputeManagementClient } from "../computeManagementClient.js";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl.js";
import {
  RunDiskInspectionInput,
  DiskInspectionCreateOptionalParams,
  DiskInspectionCreateResponse,
  DiskInspectionGetOptionalParams,
  DiskInspectionGetResponse,
} from "../models/index.js";

/** Class containing DiskInspection operations. */
export class DiskInspectionImpl implements DiskInspection {
  private readonly client: ComputeManagementClient;

  /**
   * Initialize a new instance of the class DiskInspection class.
   * @param client Reference to the service client
   */
  constructor(client: ComputeManagementClient) {
    this.client = client;
  }

  /**
   * Creates a request for executing disk Inspection.
   * @param location The name of the Azure region.
   * @param runDiskInspectionInput RunDiskInspection object supplied in the body of the Post run disk
   *                               inspection operation.
   * @param options The options parameters.
   */
  async beginCreate(
    location: string,
    runDiskInspectionInput: RunDiskInspectionInput,
    options?: DiskInspectionCreateOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<DiskInspectionCreateResponse>,
      DiskInspectionCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<DiskInspectionCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { location, runDiskInspectionInput, options },
      spec: createOperationSpec,
    });
    const poller = await createHttpPoller<
      DiskInspectionCreateResponse,
      OperationState<DiskInspectionCreateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Creates a request for executing disk Inspection.
   * @param location The name of the Azure region.
   * @param runDiskInspectionInput RunDiskInspection object supplied in the body of the Post run disk
   *                               inspection operation.
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    location: string,
    runDiskInspectionInput: RunDiskInspectionInput,
    options?: DiskInspectionCreateOptionalParams,
  ): Promise<DiskInspectionCreateResponse> {
    const poller = await this.beginCreate(
      location,
      runDiskInspectionInput,
      options,
    );
    return poller.pollUntilDone();
  }

  /**
   * Gets a specific Compute diagnostic for a subscription in a location.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  get(
    location: string,
    options?: DiskInspectionGetOptionalParams,
  ): Promise<DiskInspectionGetResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection/run",
  httpMethod: "POST",
  responses: {
    200: {
      headersMapper: Mappers.DiskInspectionCreateHeaders,
    },
    201: {
      headersMapper: Mappers.DiskInspectionCreateHeaders,
    },
    202: {
      headersMapper: Mappers.DiskInspectionCreateHeaders,
    },
    204: {
      headersMapper: Mappers.DiskInspectionCreateHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.runDiskInspectionInput,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ComputeDiagnosticBase,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
