/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SpotPlacementScores } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ComputeManagementClient } from "../computeManagementClient.js";
import {
  SpotPlacementScoresGetOptionalParams,
  SpotPlacementScoresGetResponse,
  SpotPlacementScoresInput,
  SpotPlacementScoresPostOptionalParams,
  SpotPlacementScoresPostResponse,
} from "../models/index.js";

/** Class containing SpotPlacementScores operations. */
export class SpotPlacementScoresImpl implements SpotPlacementScores {
  private readonly client: ComputeManagementClient;

  /**
   * Initialize a new instance of the class SpotPlacementScores class.
   * @param client Reference to the service client
   */
  constructor(client: ComputeManagementClient) {
    this.client = client;
  }

  /**
   * Gets Spot Placement Scores metadata.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  get(
    location: string,
    options?: SpotPlacementScoresGetOptionalParams,
  ): Promise<SpotPlacementScoresGetResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      getOperationSpec,
    );
  }

  /**
   * Generates placement scores for Spot VM skus.
   * @param location The name of the Azure region.
   * @param spotPlacementScoresInput SpotPlacementScores object supplied in the body of the Post spot
   *                                 placement scores operation.
   * @param options The options parameters.
   */
  post(
    location: string,
    spotPlacementScoresInput: SpotPlacementScoresInput,
    options?: SpotPlacementScoresPostOptionalParams,
  ): Promise<SpotPlacementScoresPostResponse> {
    return this.client.sendOperationRequest(
      { location, spotPlacementScoresInput, options },
      postOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ComputeDiagnosticBase,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const postOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/placementScores/spot/generate",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SpotPlacementScoresResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.spotPlacementScoresInput,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
